In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass 
password = getpass.getpass()

········

In [2]:
sak = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+sak
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [4]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text('SELECT * FROM rental')
    result = connection.execute(query)

result

In [95]:
def rentals_month(engine, year, month):
    with engine.connect() as connection:
        query = text(
            f'''SELECT customer_id, rental_id
            FROM rental
            WHERE YEAR(rental_date) = {year} AND
            MONTH(rental_date) = {month};'''
        )
        
        result = connection.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=['customer_id', 'rental_id'])
    return df

In [102]:
rentals_2005 = rentals_month(engine, 2005, 5)

In [109]:
rentals_2006 = rentals_month(engine, 2006, 2)

In [110]:
def rental_count_month(df, month, year):
    result = df.groupby('customer_id')['rental_id'].count().reset_index()
    result = result.rename(columns={'rental_id': f'rental_count_{month}_{year}'})
    return result

In [111]:
def compare_rentals(df,df2):
    new_set = pd.merge(df,df2, on=['customer_id'])
    new_set['difference']= new_set.iloc[:, 1] - new_set.iloc[:, 2]
    new_set
    return new_set

In [112]:
x = compare_rentals(rentals_2005, rentals_2006)
x

     customer_id  rental_id_x  rental_id_y  difference
0            269            7        12610      -12603
1            269            7        13025      -13018
2            269           98        12610      -12512
3            269           98        13025      -12927
4            269          678        12610      -11932
..           ...          ...          ...         ...
342          180         1122        12901      -11779
343          234         1125        15778      -14653
344          431         1126        13587      -12461
345          191         1134        14361      -13227
346          191         1152        14361      -13209

[347 rows x 4 columns]